.form__wrapper {
	background-color: $c-bg;
	padding-right: 34px;
	padding-left: 34px;
	padding-top: 35px;
	max-width: 570px;
	width: 100%;

	@media screen and (max-width: 1000px) {
		margin-bottom: 30px;
	}
}

.form__title {
	font-size: $fs-large;
	margin-bottom: 20px;
	line-height: 32px;
	font-weight: 500;
	color: $c-title;
}

.form__content {
	justify-content: space-between;
	box-sizing: border-box;
	flex-wrap: wrap;
	display: flex;
}

.form__item {
	box-sizing: border-box;
	margin-bottom: 20px;
	flex-basis: 245px;

	&--large {
	flex-basis: 500px;
}

	&--radio {
		justify-content: flex-start;
		flex-direction: row;
		flex-basis: 500px;
		display: flex;
		height: 22px;

		.form__label {
			align-items: flex-end;
			flex-direction: row;
			justify-content: center;
			display: flex;

			&:first-child {
				margin-right: 20px;
			}

			.form__input{
				margin-right: 8px;
			}
		}
	}
}

.form__input {
	border: 1px solid $c-border;
	transition: $t-normal;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
	width: 100%;
	height: 38px;

	option {
		letter-spacing: -0.2px;
		padding-left: 10px;
		color: $c-text;
	}

	&:active, &:hover, &:focus {
		border: 1px solid $c-button;
    outline-offset: 0;
		cursor: pointer;
    outline: 0;
	}	
}

.form__text {
	letter-spacing: -0.2px;
	margin-bottom: 7px;
	line-height: 22px;
}

.form__subtext {
	letter-spacing: -0.1px;
	color: $c-sub-text;
	line-height: 18px;
	font-size: 13px;
}

.form__subtext--top {
	margin-top: 7px;
}

.form__footer {
	flex-direction: column;
	display: flex;

	.form__subtext {
		margin-bottom: 20px;
		text-align: center;
	}

	.form__text {
		text-align: center;
		margin-bottom: 16px;

		.form__link {
			margin-left: 20px;
		}
	}
}

.form__button {
	border: 1px solid $c-border;
	transition: $t-normal;
	background: $c-button;
	margin-bottom: 22px;
	border-radius: 6px;
	max-width: 150px;
	flex-basis: auto;
	color: $c-bg;
	height: 38px;

	&:hover {
		border: 3px solid $c-frame;
		background: $c-sub-text;
		transition: $t-normal;
		cursor: pointer;
	}

	span {
		letter-spacing: -0.1px;
		vertical-align: middle;
		text-align: center;
		font-weight: 500;
		color: $c-bg;
	}

	&--large {
		max-width: 500px;
	}
}

.form__link {
	letter-spacing: -0.1px;
	text-decoration: none;
	transition: $t-normal;
	font-size: $fs-small;
	text-align: center;
	line-height: 18px;
	color: $c-button;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
		transition: $t-normal;
	}

	&:active {
		font-weight: 700;
		color: green;
	}

	&:visited {
		font-weight: 700;
	}
}

.form__line {
	background-color: $c-border;
	margin-bottom: 20px;
	height: 1px;
}

