/* для элемента label связанного с .custom-radio */
.form__item--radio {

	#male, #female {
		display: none;
	}
	
	.form__input+.form__text {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}

	/* создание в label псевдоэлемента  before со следующими стилями */
	.form__input+.form__text::before {
		background-position: center center;
		background-repeat: no-repeat;
		border: 1px solid $c-border;
		background-size: 50% 50%;
		display: inline-block;
		transition: $t-normal;
		margin-right: 0.5em;
		border-radius: 50%;
		flex-shrink: 0;
		flex-grow: 0;
		height: 1em;
		content: '';
		width: 1em;
	}

	/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
	.form__input:focus:not(:checked)+.form__text::before {
		border-color: $c-border;
	}

	/* стили для радиокнопки, находящейся в состоянии checked */
	.form__input:checked+.form__text::before {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
		background-color: $c-button;
		border-color: $c-button;
	}

	/* стили для радиокнопки, находящейся в состоянии disabled */
	.form__input:disabled+.form__text::before {
		background-color: $c-border;
	}
}