* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
}

body {
  font-size: 14px;
}

.second-block {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
}

/* Стилізація плей-листу */
.title {
  font-size: 36px;
  color: green;
}

.playlist {
  margin-left: 14px;
}

.playlist__item {
  line-height: 200%;
}

/* Стилізація кнопки */
.button {
  transition: 0.55s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 3px 3px 10px greenyellow;
  text-transform: uppercase;
  border: 1px solid green;
  background: lightgray;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 700;
  padding: 0 30px;
  display: flex;
  color: green;
  height: 40px;
}

.button:hover {
  background: #fff;
  cursor: pointer;
  color: #000;
}

/* Стилізація модального вікна*/
.modal {
  background-color: rgba(0, 0, 0, 0);
  max-width: 1200px;
  padding: 0 30px;
  display: none;
  height: 100vh;
  width: 100%;
}
.modal__title {
  margin-top: 20px;
  font-size: 24px;
  color: blue;
}

.modal__text {
  line-height: 110%;
  margin-top: 10px;
}

.modal__button {
  box-shadow: 3px 3px 10px rgba(0, 110, 255, 0.795);
  border: 1px solid blue;
  color: blue;
}

