// !Components
// *LOGO
.logo {
  align-items: center;
  display: flex;
  width: 100%;

  &__img {
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }

  &__text {
    font-size: $fs-logo;
    line-height: 35px;
    font-weight: 500;

    &--white {
      color: $c-bg;
    }
  }
}

// * SOCIAL
.social {
  padding: 40px 0;
  display: flex;
  justify-content: flex-start;

  &__item {
    justify-content: center;
    background: $c-border;
    transition: $t-normal;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    height: 38px;
    width: 38px;

    &:last-child {
      margin-right: 0;
    }

    .path {
      fill: $c-social-icon;
    }

    &:hover {
      fill: $c-icon-hover;
      cursor: pointer;
    }
  }

  &__icon {
    max-height: 20px;
    max-width: 20px;

    &--fb {
      max-width: 10px;
    }
  }
}

// ?HEADER
.header {
  border-bottom: 1px solid $c-border;
  margin-bottom: 100px;

  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }

  &__logo {
    padding: 22px 0;
  }
}
// ?MAIN
.main {
  &__info {
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__subtext {
    text-transform: uppercase;
    color: $c-light-gray;
    margin-bottom: 15px;
    line-height: 21px;
  }

  &__title {
    font-family: $ff-nunito;
    letter-spacing: 0.2px;
    line-height: 52px;
    font-weight: 600;
    font-size: 40px;
  }

  &__cards {
    justify-content: space-between;
    margin-bottom: 100px;
    display: flex;

    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
      flex-wrap: wrap;
    }
  }

  &__item {
    border: 1px solid $c-bg-item;
    transition: $t-normal;
    margin-right: 30px;
    border-radius: 8px;
    padding: 40px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border: 1px solid $c-icon-hover;
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
      margin-right: 0;
    }
  }

  &__icon {
    border: 1px solid $c-icon-border;
    justify-content: center;
    border-radius: 16px;
    margin-bottom: 30px;
    align-items: center;
    max-height: 64px;
    max-width: 64px;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__image {
    max-height: 36px;
    max-width: 38px;
    height: 100%;
    width: 100%;

    .icon-1 {
      fill: $c-icon-1;
    }
    .icon-2 {
      fill: $c-icon-2;
    }
    .icon-3 {
      fill: $c-icon-3;
    }
    .icon-4 {
      fill: $c-icon-4;
    }

    &:hover {
      .icon-1 {
        fill: $ch-icon-1;
      }
      .icon-2 {
        fill: $ch-icon-2;
      }
      .icon-3 {
        fill: $ch-icon-3;
      }
      .icon-4 {
        fill: $ch-icon-4;
      }
    }
  }

  &__content {
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: $fs-subtitle;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
    line-height: 21px;
  }

  &__text {
    line-height: 28px;
  }

  &__link {
    text-decoration: none;
    transition: $t-normal;
    color: $c-icon-hover;
    line-height: 19px;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

// ?FOOTER
.footer {
  background: $c-text;

  &__logo {
    padding-top: 40px;
  }
}
