@font-face {
  font-family: 'Lusida Sans';
  src: url(./fonts/lucidasansunicode.ttf) format('ttf');
  font-weight: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-base);
  font-size: var(--f-base);
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
  box-sizing: border-box;
  color: var(--c-text);
  background-color: var(--c-bg);
  border: 25px solid var(--c-border);
}

.header {
  margin: 60px 0 35px 135px;
}

.header__title {
  font-size: var(--f-title);
  line-height: 25px;
}

.main {
  display: table;
  width: 1170px;
  background-color: var(--c-bg-main);
  margin: 0 0 35px 135px;
}

.main-item {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  opacity: 0.7;
  outline: 2px solid var(--c-bg-main);
  /* border: 2px solid var(--c-bg-main); */
}

.main-item:hover {
  opacity: 1;
  cursor: pointer;
}

.main-item--100 {
  width: 100%;
}

.main-item--50 {
  width: 50%;
}

.main-item--25 {
  width: 25%;
}

.main-item-b1 {
  background-color: var(--c-b1);
}
.main-item-b2 {
  background-color: var(--c-b2);
}
.main-item-b3 {
  background-color: var(--c-b3);
}
.main-item-b4 {
  background-color: var(--c-b4);
}
.main-item-b5 {
  background-color: var(--c-b5);
}
.main-item-b6 {
  background-color: var(--c-b6);
}
.main-item-b7 {
  background-color: var(--c-b7);
}
.main-item-b8 {
  background-color: var(--c-b8);
}
.main-item-b9 {
  background-color: var(--c-b9);
}
.main-item-b10 {
  background-color: var(--c-b10);
}
.main-item-b11 {
  background-color: var(--c-b11);
}

.main-item-text {
  display: inline-block;
  margin: 26px 0 27px 0;
  font-size: var(--f-main);
}

.main-item__subtitle {
  margin-bottom: 4px;
}

.main-item__temp {
  margin-right: 2px;
}

.main-item__icon {
  font-family: 'Weather Icons';
  font-style: normal;
  font-weight: 400;
  font-size: var(--f-icon);
  line-height: 61px;
}

.footer {
  margin: 0 0 119px 135px;
}

.footer__text {
  font-size: var(--f-small);
  line-height: 19px;
}
