* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
}

body {
  background-color: var(--c-white);
  color: var(--c-black);
}

a {
  color: var(--c-primary);
}

a:hover {
  color: var(--c-succes);
}
.logo-wrapper {
  margin: 20px;
}
.logo-text {
  color: yellow;
}
