* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #dedddd;
  color: black;
}

.wrapper {
  min-width: 480px;
  max-width: fit-content;
}
.text {
  /* padding-left: 5%; */
  font-size: 16px;
}
.text h1,
span {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
}

.text a {
  color: black;
}
.text a:hover {
  color: green;
}

.text-block {
  /* margin-top: 20px; */
}

.text-photo img {
  height: 200px;
  border-radius: 50%;
}

.footer p {
  background-color: #ffdb00;
  padding: 20px 20px 20px 0;
}

.footer span {
  padding-right: 40px;
}
