@import url('fonts.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  font-family: 'Open Sans Regular', sans-serif;
  min-width: 360px;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}
