:root {
  /** Colors */
  --c-main: #070707;
  --c-text: #828282;
  --c-star-grey: #e5e5e5;
  --c-bg-gray: #f6f6f6;
  --c-linkedin-blue: #0072b1;
  --c-instagran-purple: #833ab4;
  --c-behance-blue: #053eff;
  --c-dribble-pink: EA4C89;

  /** Fonts-size */
  --f-title: 48px;
  --f-subtitle: 34px;
  --f-base: 18px;
  --f-small: 14px;

  /** Font-family */
  --ff-bold: 'Open Sans Bold', sans-serif;
  --ff-regular: 'Open Sans Regular', sans-serif;
}
