mixin blog()
	.wrapper
		section.blog
			h2.blog__title Blog
			.blog__content
				.blog__row
					.blog__item.blog__item--sorder
						img(src="./assets/images/blog/blog-arrow.jpg", alt="image blog-arrows").blog__image
					.blog__item.blog__item--forder
						.blog__info
							p.blog__smalltitle Technology, Interface Design
							h3.blog__subtitle Using UX Design to Build a Sustainable Future
							p.blog__date 6 May, 2020
							p.blog__text Transformation has to be driven by beverybody, not just by climate groups, and we have a responsibility to use our influence to drive this.
								span
									a(href="#").blog__link
										img(src="./assets/icons/arrow.svg", alt="icon blog-arrow").blog__img
				.blog__row
					.blog__item.blog__item--forder
						.blog__info.blog__info--mleft
							p.blog__smalltitle Technology, Interface Design
							h3.blog__subtitle Using UX Design to Build a Sustainable Future
							p.blog__date 6 May, 2020
							p.blog__text.blog__text Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our influence to drive this.
								span
									a(href="#").blog__link
										img(src="./assets/icons/arrow.svg", alt="icon blog-arrow").blog__img
					.blog__item.blog__item--sorder
						img(src="./assets/images/blog/blog-building.jpg", alt="blog-arrows").blog__image.blog__image--right

