mixin footer()
	footer.footer
		.wrapper
			.footer__content
				.footer__info
					p.footer__title Need a project?
					p.footer__phone (239) 555-0108
					p.footer__email tanya.hill@example.com
				.footer__social
					.footer__item
						svg.footer__icon
							use(xlink:href='./assets/icons/instagram.svg#instagram')
					.footer__item
						svg.footer__icon.footer__icon--fb
							use(xlink:href='./assets/icons/facebook.svg#facebook')
					.footer__item
						svg.footer__icon
							use(xlink:href='./assets/icons/twitter.svg#twitter')
					.footer__item
						svg.footer__icon
							use(xlink:href='./assets/icons/linkedin.svg#linkedin')
			p.footer__text © Copyright Manifest Theme. Allrights reserved