mixin latest-posts()
	.wrapper
		section.latest-posts
			.latest-posts__header
				.latest-posts__left
					h2.latest-posts__titles Latest Posts
				.latest-posts__right
					p.latest-posts__smalltext View All
						span
							a(href="#").latest-posts__link
								img(src="./assets/icons/arrow.svg", alt="icon arrow").latest-posts__img
			.latest-posts__content
				.a.latest-posts__picture
					img(src="./assets/images/latest-posts/latest-post-lamp.jpg", alt="image lamp").latest-posts__image
				.b.latest-posts__picture
					img(src="./assets/images/latest-posts/latest-post-arrow.jpg", alt="image arrow").latest-posts__image
				.c.latest-posts__picture
					img(src="./assets/images/latest-posts/latest-post-roof.jpg", alt="image roof").latest-posts__image

				.latest-posts__info.d
					.latest-posts__subtitle 
						p.latest-posts__left Interface Design
						p.latest-posts__right 8 June, 2020
					h3.latest-posts__title UX traffic light colours
					p.latest-posts__text UI has to make a huge visual difference between warning, an alert and a success.
				.latest-posts__info.f
					.latest-posts__subtitle 
						p.latest-posts__left Technology
						p.latest-posts__right 6 May, 2020
					h3.latest-posts__title Using UX Design to Build a Sustainable Future
					p.latest-posts__text UI has to make a huge visual difference between warning, an alert and a success.
				.latest-posts__info.g
					.latest-posts__subtitle 
						p.latest-posts__left Visual Design
						p.latest-posts__right 8 June, 2020
					h3.latest-posts__title Creativity vs. UX
					p.latest-posts__text Is it possible to create a delightful user experience without following best UX practices?
