mixin header()
	header.header
		.wrapper
			.header-text
				h1.header-text__title The geniuses behind our work
				h2.header-text__subtitle Our team
			.header-decor
				.header-decor__line.line
				.header-decor__image
					img(src="./assets/images/bonfire.png", alt="icon of fire").header-decor__fire
				.header-decor__line.line

