mixin main()
	main.main
		.wrapper
			section.slider.flex-block
				.slider-left
					.slider-header.flex-block
						.slider-left__line.line
						.slider-left__line.line
					.slider-main.flex-block
						.slider-border.flex-block
							.slider-left__line.line
							.slider-left__line.line
						.slider-left-photo
							img(src="./assets/images/photo.png", alt="Photo Sahariara Kabira").slider-photo__image
						.slider-border.slider-border--right.flex-block
							.slider-left__line.line
							.slider-left__line.line
					.slider-footer.flex-block
						.slider-left__line.line
						.slider-left__line.line
				.slider-vertical-line.line
				.slider-right
					.slider-right-header.flex-block
						h2.slider-right-header__title.bottom-30 Sahariar Kabir
						.slider-right__line.line.bottom-30
						h3.slider-right-header__subtitle.bottom-30 Frontend Developer
					.slider-right-social.social
						a(href="https://www.facebook.com/" target="_blank").social__link
							i.fa-brands.fa-facebook-f
						a(href="https://twitter.com/?lang=uk" target="_blank").social__link
							i.fa-brands.fa-twitter
						a(href="https://support.google.com/googlecurrents/answer/9217723?hl=ru" target="_blank").social__link
							i.fa-brands.fa-google-plus-g
						a(href="https://www.linkedin.com/" target="_blank").social__link
							i.fa-brands.fa-linkedin-in
					.slider-right-main.flex-block
						p.slider-right-main__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.
					.slider-right-lines.flex-block.bottom-30
						.slider-right-lines__item
						.slider-right-lines__item.slider-right-lines__item--big
						.slider-right-lines__item
					.slider-right-footer
						button(type=button).slider-right-footer-button
							span.slider-right-footer-button__text view profile
